---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <!-- todo define a collection and iterate over it -->
        <thead>
          <tr>
            <td>Datum</td>
            <td>Veranstaltung</td>
            <td>Sprecher</td>
            <td>Folien</td>
          </tr>
        </thead>
        <tbody>
          {% assign sorted_events = site.events | sort:"event_date" | reverse %}
          {% for event in sorted_events %}
          {% assign loc = site.locations | where:"id",event.location | first %}
          <tr itemscope itemtype="http://schema.org/Event">
            <td itemprop="startDate" content="{{event.event_date}}">{% include date.html date=event.event_date %}</td>
            <td><a href="{{event.url | prepend: site.baseurl | prepend:   site.url}}">{{event.title}}</a></td>
            <td>{% for speaker in event.speakers%}{% include author.html author_id=speaker %}{% if forloop.rindex0 > 0 %}/{% endif %}{% endfor %}</td>
            <td>{% if event.material_url %}<a href="{{event.material_url | prepend: site.url}}">Folien</a>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
