<section id="angebot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Unser Angebot</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3><a href="{{"/vortraege.html" | prepend: site.baseurl | prepend: site.url }}">Vorträge</a></h3>
                    <p class="text-muted">Regelmäßige Vorträge mit interessanten Sprechern zu aktuellen Themen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Praxis</h3>
                    <p class="text-muted">Probiert mal was neues aus: In unseren Programmierabenden oder Code Retreats</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><a href="{{"/blog" | prepend: site.baseurl | prepend: site.url }}">Blog / News</a></h3>
                    <p class="text-muted">Ankündigunen, Berichte und Themenartikel</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Diskussionen / Austausch</h3>
                    <p class="text-muted">Xing Gruppen, Open Space Format oder Diskussionfunktion im Blog</p>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 text-center">
            <br/>
            <p>Die JUG Essen ist eine von weltweit vielen Java User Groups. Sie organisiert Veranstaltungen im Bereich Java wie etwa Vorträge und Stammtische.
              Dabei geht es nicht allein um die Sprache Java, sondern um Softwareentwicklung bei der Java oder die JVM einen prominenten Platz einnimmt. Eingeladen sind alle Java-Interessierten, egal ob Profis oder Privatleute. Es gibt keine Mitgliedschaft; die Teilnahme an den Veranstaltungen ist kostenlos. Wir freuen uns natürlich über jede Hilfe von Organisationen, die die JUG fördern wollen </p>
          </div>
        </div>
    </div>
</section>
