<section class="bg-primary" id="about">
  <div class="container events">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Termine</h2
                {% for event in site.events %}
                Test
                {% endfor %}
                <hr class="light">
                <table class="table">
                  <!-- todo define a collection and iterate over it -->
                  <thead>
                    <tr>
                      <td>Datum</td>
                      <td>Veranstaltung</td>
                      <td>Ort</td>
                      <td>Sprecher</td>
                      <td>Folien</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event in site.events limit:5%}
                    <tr itemscope itemtype="http://schema.org/Event">
                      <td itemprop="startDate" content="{{event.date}}">{% include date.html date=event.date %}</td>
                      <td><a href="{{event.url | prepend: site.baseurl | prepend:   site.url}}">{{event.title}}</a></td>
                      <td itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name">{{event.location}}</span></td>
                      <td>{% include author.html author_id=event.speaker %}</td>
                      <td>{{event.material_url}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <a href="#" class="btn btn-default btn-xl">Alle Termine</a>
              </div>
            </div>
          </div>
</section>
