<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {
      "message":"Diese Webseite benutzt Cookies, um eine bestmögliche Nutzerfreundlichkeit zu bieten. Für mehr Informationen lesen Sie bitte unsere",
    "dismiss":"Verstanden und Verbergen",
    "learnMore":"Datenschutzrichtlinie.","link":"/datenschutz.html","theme":"dark-top"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
<header class="homepage-header">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>JUG Essen: Die Java User Group für Essen</h1>
            <hr>
            <p>Eure Gruppe, um euch mit anderen Java Enthusiasten in Essen und Umgebung auszutauschen</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Termine</a>
        </div>
    </div>
</header>
