---
layout: default
---
  <article class="author">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Sprecher- / Autorenprofil</h2>
      </div>
    </div>
    {% include author_bio.html author=page %}
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <h3>Vorträge / Events</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <ul>
          {% assign events = site.events | where_exp:"event","event.speakers contains author.username" %}
          {% for event in events %}
              <li><a href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a>{% include date.html date=event.date %}</li>
          {% endfor %}
          {% if events.size == 0 %}
            <li>Keine Events vorhanden</li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <h3>Blogbeiträge</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <ul>
          {% assign posts = site.posts | where:"author",author.username %}
          {% for post in posts %}
              <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {% include date.html date=post.date %}</li>
          {% endfor %}
          {% if posts.size == 0 %}
            <li>Keine Beiträge vorhanden</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  </article>
