---
layout: default
---
  <article class="author">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Sprecher- / Autorenprofil</h2>
      </div>
    </div>
    {% include author_bio.html author=page %}
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <h3>Vorträge / Events</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <ul>
          {% assign event_available = false %}
          {% for event in site.events %}
            {% for speaker in event.speakers %}
              {% if speaker == author.username %}
                {% assign event_available = true %}
                <li><a href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a> {% include date.html date=event.date %}</li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          {% if event_available == false %}
            <li>Keine Events vorhanden</li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <h3>Blogbeiträge</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <ul>
          {% assign post_available = false %}
          {% for post in site.posts %}
            {% if post.author == author.username %}
              {% assign post_available = true %}
              <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {% include date.html date=post.date %}</li>
            {% endif %}
          {% endfor %}
          {% if post_available == false %}
            <li>Keine Beiträge vorhanden</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  </article>
