---
layout: default
---
  <article class="author">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <header class="post-header">
            {% if page.picture %}<div class="author-picture"><img src="/img/authors/{{ page.picture   }}"></div>{% endif %}
            <h1 class="post-title">{{ page.title }}</h1>
          </header>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            {{ content }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"
              {% if page.website %}
              <ul class="unstyled">
                {% if page.email %}
                <li><i class="fa fa-envelope"></i> <a href="mailto:{{ page.email }}">{{ page.email  }}</a></li>
                {% endif %}
                {% if page.website %}
                <li><i class="fa fa-user"></i> <a href="{{ page.website }}">{{ page.website | remove:   "http://" }}</a></li>
                {% endif %}
              </ul>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </article>
