---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{page.title}} ({% include date.html date=page.event_date %})</h2>
      {{content}}
    </div>
  </div>
  {% if page.speakers %}
  <div class="row">
    <div class="col-md-12">
      <h2>Sprecher</h2>
    </div>
  </div>
  {% for author in site.authors %}
    {% if page.speakers contains author.username %}
      {% include author_bio.html author=author %}<br/>
    {% endif %}
  {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h2>Adresse</h2>
          {% assign loc = site.locations | where:"key",page.location | first %}
          {% if loc %}
            <address itemscope itemtype="http://schema.org/PostalAddress">
              <a href="{{loc.url }}"><strong>{{loc.name}}</strong></a><br/>
              <a href="{{loc.maps_url}}">
                  <span itemprop="itemprop="streetAddress"">
                {{loc.address.street}}<br/>
                {{loc.address.city}}<br/>
              </a>
              </span>
            </address>
          {% endif %}
        </div>
        <div class="col-md-6">
          {% if page.meetup_id %}
          <a class="btn btn-default btn-lg btn-primary" href="https://www.meetup.com/de-DE/JUG-Essen/events/{{page.meetup_id}}" role="button">Anmelden</a>
          {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{{loc.maps_url}}">Anfahrt</a>
    </div>
  </div>
</div>
